In [9]:
#Question 1
a = 0

def b():
    global a  
    a = c(a)
    return a
def c(a):
    return a+2
print(b()) #Initially 'a' value is 0 it changes to 2 globally 
print(b()) #current a=2 changes to 4 globally
print(b()) #current a=4 changes to 6 globally
print(a) #printing current a value which is 6

2
4
6
6

In [10]:
#Question 2
def fileLength(l) :
    try:
        fp = open(l,'r')
        text = fp.read()
        print(len(text))
    except FileNotFoundError:
        print("File "+l+" not found")
    except:
        print("Something else went wrong")
        
fileLength("text.py")
fileLength("Filelength.py")

File text.py not found
File Filelength.py not found

In [8]:
#Question 3 :
class Marsupial :
    
    def __init__(self):
        self.toys = []  #Initlization
    def put_in_pouch(self,x):
        self.toys.append(x)  #Appends the values at the end of current list
    def pouch_contents(self):
        print(self.toys)   #prints Coneten
class Kangaroo(Marsupial):
    def __init__(self,x,y):  
        Marsupial.__init__(self)
        self.x = x;self.y = y
    def jump(self,dx,dy):
        self.x = self.x + dx;self.y = self.y + dy
    def __str__(self):
        return "I am a Kangaroo located at coordinates ({},{})".format(self.x,self.y)
    
k = Kangaroo(0,0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

In [7]:
#Question 4 :
def collatz(x):
    if(x== 1 or x == 0):
        print(x)
        return
    
    if(x%2 == 0):
        print(x)
        x = int(x/2)
        collatz(x)
    else:
        print(x)
        x = int(3*x+1)
        collatz(x)
    
    return
    

collatz(10)

10
5
16
8
4
2
1

In [13]:
#Question 5
def binary(n):  #  n(non-negative Integer)
   if n > 1:
       binary(n//2)
   print(n % 2,end = '')

binary(10)

1010

In [12]:
#Question 6 :

from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def handle_data(self,x):
        tag = super().get_starttag_text()
        if '\n' not in x:
            if tag == '<h1>':
                print(x.strip())
            elif tag == '<h2>':
                print('    '+x.strip())
        
        
parser = HeadingParser()
infile = open('w3c.html','r')
data = infile.read()
parser.feed(data)

W3C Mission
    Principles

In [3]:
#Question 7 :
def webdir(url,depth,indent,count):
    if count == depth:
        return
    print(url)
    webdir(url,depth,indent,count+1)
    
    return
    
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html',2,0,0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

In [14]:
#Question 8:
import sqlite3

conn = sqlite3.connect('weathers.db')
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS ANNUAL_WEATHER")
query = "CREATE TABLE ANNUAL_WEATHER (City VARCHAR(500) NOT NULL,Country VARCHAR(500) NOT NULL,Season VARCHAR(500) NOT NULL,Tempareture VARCHAR(500) NOT NULL,Rainfall VARCHAR(500) NOT NULL)"
cursor.execute(query)
cursor.execute("INSERT INTO ANNUAL_WEATHER VALUES('Mumbai','India','Winter','24.8','5.9')")
cursor.execute("INSERT INTO ANNUAL_WEATHER VALUES('Mumbai','India','Spring','28.4','16.2')")
cursor.execute("INSERT INTO ANNUAL_WEATHER VALUES('Mumbai','India','Summer','27.9','1549.4')")
cursor.execute("INSERT INTO ANNUAL_WEATHER VALUES('Mumbai','India','Fall','27.6','346.0')")
cursor.execute("INSERT INTO ANNUAL_WEATHER VALUES('London','United Kingdom','Winter','4.2','207.7')")
cursor.execute("INSERT INTO ANNUAL_WEATHER VALUES('London','United Kingdom','Spring','8.3','169.6')")
cursor.execute("INSERT INTO ANNUAL_WEATHER VALUES('London','United Kingdom','Summer','15.7','157.0')")
cursor.execute("INSERT INTO ANNUAL_WEATHER VALUES('London','United Kingdom','Fall','10.4','218.5')")
cursor.execute("INSERT INTO ANNUAL_WEATHER VALUES('Cairo','Egypt','Winter','13.6','16.5')")
cursor.execute("INSERT INTO ANNUAL_WEATHER VALUES('Cairo','Egypt','Spring','20.7','6.5')")
cursor.execute("INSERT INTO ANNUAL_WEATHER VALUES('Cairo','Egypt','Summer','27.7','0.1')")
cursor.execute("INSERT INTO ANNUAL_WEATHER VALUES('Cairo','Egypt','Fall','22.2','4.5')")

print("a)All the tempareture data")
data = cursor.execute("SELECT Tempareture FROM ANNUAL_WEATHER")
for row in data:
    print(row)

print("b)All the cities, but without repetition.")
data = cursor.execute("SELECT DISTINCT City FROM ANNUAL_WEATHER")
for row in data:
    print(row)

print("c) All the records for India.")
data = cursor.execute("SELECT * FROM ANNUAL_WEATHER WHERE Country='India'")
for row in data:
    print(row)

print("d) All the Fall records.")
data = cursor.execute("SELECT * FROM ANNUAL_WEATHER WHERE Season='Fall'")
for row in data:
    print(row)

print("e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.")
data = cursor.execute("SELECT City,Country,Season FROM ANNUAL_WEATHER WHERE Rainfall>=200 and Rainfall<=400")
for row in data:
    print(row)
print("f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.")
data = cursor.execute("SELECT City,Country FROM ANNUAL_WEATHER WHERE Season='Fall' and Tempareture>20 ORDER BY Tempareture")
for row in data:
    print(row)
print("g) The total annual rainfall for Cairo.")
data = cursor.execute("SELECT SUM(Rainfall) from ANNUAL_WEATHER WHERE City='Cairo'")
for row in data:
    print(row)
print("h)The total rainfall for each season.")
data = cursor.execute("SELECT SUM(Rainfall),Season from ANNUAL_WEATHER GROUP BY Season")
for row in data:
    print(row)

conn.close()

a)All the tempareture data
('24.8',)
('28.4',)
('27.9',)
('27.6',)
('4.2',)
('8.3',)
('15.7',)
('10.4',)
('13.6',)
('20.7',)
('27.7',)
('22.2',)
b)All the cities, but without repetition.
('Mumbai',)
('London',)
('Cairo',)
c) All the records for India.
('Mumbai', 'India', 'Winter', '24.8', '5.9')
('Mumbai', 'India', 'Spring', '28.4', '16.2')
('Mumbai', 'India', 'Summer', '27.9', '1549.4')
('Mumbai', 'India', 'Fall', '27.6', '346.0')
d) All the Fall records.
('Mumbai', 'India', 'Fall', '27.6', '346.0')
('London', 'United Kingdom', 'Fall', '10.4', '218.5')
('Cairo', 'Egypt', 'Fall', '22.2', '4.5')
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
('Mumbai', 'India', 'Fall')
('London', 'United Kingdom', 'Winter')
('London', 'United Kingdom', 'Fall')
('Cairo', 'Egypt', 'Fall')
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
('Cairo', 'Egypt')
('Mumbai', 'India')
g) The total annual rainfall for Cairo.
(27.6,)
h)The total rainfall for each season.
(569.0, 'Fall')
(192.29999999999998, 'Spring')
(1706.5, 'Summer')
(230.1, 'Winter')

In [15]:
#Question 9 :
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
newlist = [x.upper() for x in words] # generates list
print("a)",newlist)
newlist = [x.lower() for x in words]
print("b)",newlist)
newlist = [len(x) for x in words] # displayes length of the words 
print("c)",newlist)
newlist = [[x.upper(),x.lower(),len(x)] for x in words]
print("d)",newlist)
newlist = [x for x in words if len(x)>=4]
print("e)",newlist)

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3]
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
e) ['quick', 'brown', 'jumps', 'over', 'lazy']